<!DOCTYPE html>
<html>
<head>
  <title>emerAcci - Header</title>
  <style>
    /* CSS styles */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    footer {
      background-color: #9db8be;
      padding: 20px;
      text-align: center;
      color: #fff;
    }

    h1 {
      margin: 0;
      font-size: 30px;
    }
  </style>
</head>
<body>
  <footer>
    <h1>emerAcci</h1>
  </footer>
</body>
</html>
